.App {
  font-family: sans-serif;
  text-align: center;
}

.container{
  max-width: 500px;
    margin: 30px auto;
    border: 1px solid #a9d9d0;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: rgba(212, 209, 209, .8);
}
